RecoWeb01/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mes.WcfCommonService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mes.WcfCommonService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTCMCommitStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCMCommitStatus" nillable="true" type="tns:TCMCommitStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCMCommitStatus" nillable="true" type="tns:ArrayOfTCMCommitStatus" />
  <xs:complexType name="TCMCommitStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CQT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIS1_ONOFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIS2_ONOFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_ONOFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOH_ONOFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTIF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PV8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QLP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHI_AHEAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SWT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TLR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSC_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSE_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TWS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagSetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WTI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WTP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCMCommitStatus" nillable="true" type="tns:TCMCommitStatus" />
  <xs:complexType name="ArrayOfTCMCommitStatusProduction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCMCommitStatusProduction" nillable="true" type="tns:TCMCommitStatusProduction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCMCommitStatusProduction" nillable="true" type="tns:ArrayOfTCMCommitStatusProduction" />
  <xs:complexType name="TCMCommitStatusProduction">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QCB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QCG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QCN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QCS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QPS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagSetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkSequenceNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCMCommitStatusProduction" nillable="true" type="tns:TCMCommitStatusProduction" />
</xs:schema>