RecoWeb01/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.5/Mes.WcfCommonService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.5/Mes.WcfCommonService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.5/Mes.WcfCommonService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mes.WcfCommonService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTime" />
  </wsdl:message>
  <wsdl:message name="IService_GetDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkDate" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDateTimeJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTimeJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetDateTimeJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTimeJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatus" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusProduction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusProduction" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusProduction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusProductionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusProductionJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusProductionJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetCommitStatusProductionJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommitStatusProductionJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDateTime" message="tns:IService_GetDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDateTimeResponse" message="tns:IService_GetDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkDate" message="tns:IService_GetWorkDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkDateResponse" message="tns:IService_GetWorkDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDateTimeJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDateTimeJson" message="tns:IService_GetDateTimeJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDateTimeJsonResponse" message="tns:IService_GetDateTimeJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCommitStatus" message="tns:IService_GetCommitStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCommitStatusResponse" message="tns:IService_GetCommitStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCommitStatusJson" message="tns:IService_GetCommitStatusJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCommitStatusJsonResponse" message="tns:IService_GetCommitStatusJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusProduction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCommitStatusProduction" message="tns:IService_GetCommitStatusProduction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCommitStatusProductionResponse" message="tns:IService_GetCommitStatusProduction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusProductionJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCommitStatusProductionJson" message="tns:IService_GetCommitStatusProductionJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCommitStatusProductionJsonResponse" message="tns:IService_GetCommitStatusProductionJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateTime">
      <soap:operation soapAction="http://tempuri.org/IService/GetDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkDate">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateTimeJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetDateTimeJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatus">
      <soap:operation soapAction="http://tempuri.org/IService/GetCommitStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetCommitStatusJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusProduction">
      <soap:operation soapAction="http://tempuri.org/IService/GetCommitStatusProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitStatusProductionJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetCommitStatusProductionJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.1.5/Mes.WcfCommonService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>